<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Summary</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="spam_detection">
        <h3>Spam_Detection</h3>
        <br>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('spam_detection')}}"method="POST">
          <div>
            <textarea id="styled" name="email" rows="6" cols="50" placeholder="Copy & Paste Your text" required="required" ></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-outline-info btn-sm">Analyze</button>
          </div>
        <p style="color:dark">
          <p> {{result}}</p>
        </form>

  </div>
</body>
</html>

{% endblock %}