<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}

<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Summary</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

  <script type="text/javascript">
      function getSelectedValue(){
          var selectedValue=document.getElementById('numbers_of_lines').text;
      }
  </script>

<body>
  <div class="summary">
        <h3>Summarize</h3>
        <br>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('summarize')}}"method="POST">
          <div>
            <textarea id="styled" name="message" rows="6" cols="50" placeholder="Enter Your Article Here" required="required" ></textarea>
          </div>
          <br>
          <div style="float: left"> <b><h6> Select # of lines :</h1></b> 
          </div>
          <div>
            <select id="numbers_of_lines" type="number" name='numbers_of_lines'>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
            </select>
          </div>
          <div>
            <button type="submit" class="btn btn-outline-info btn-sm">Summarize</button>
          </div>
        </form>
         <br>
        <p style="color:dark">
          <b><u>{{TextA}}</b></u>
        {% for para in summarized_text %}
          <p> {{para}}</p>
        {% endfor %}

        <p style="color:dark"> <b><u>{{TextB}}</b></u> </p>
        {{original_text}}
  </div>
</body>
</html>

{% endblock %}